 <div class="span3 login_block">
 	<h3 class="login_header">Log In</h3>
	 <%= form_tag session_path, :class => "login_form" do %>
	 	<div class="field">
	 		<%= label_tag :email %>
	 		<%= text_field_tag :email, params[:email] %>
	 	</div>
	 	<div class="field">
	 		<%= label_tag :password %>
	 		<%= password_field_tag :password %>
	 	</div>
	 	<div class="checkbox inline">
	 		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
	 		<%= label_tag :remember_me %>
	 	</div>
	 	<br><br>
	 	<div class="actions"><%= submit_tag "Log in", :class => "btn-primary" %></div>
	 	<hr>
	 	<p><%= link_to "Reset password!", new_password_reset_path, :class => "btn btn-warning" %></p>
	<% end %>
</div>