<% if @shopper.errors.any? %>
    <div class='span6 shopper_errors'>
    <ul>
      <p>Shopper Creation Errors</p>
      <% @shopper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %> 
    </ul>
    </div>
<% end %> <!-- errors -->
<div class='shopper_new_form'>
  <%= simple_form_for @shopper, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :email %>
    <%= f.input :zip_code %>
    <%= f.input :distance %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.association :categories, as: :check_boxes, collection: Category.order('name ASC') %>
    <div class='shopper_captcha'><%= show_simple_captcha %></div>
    <div class='shopper_terms'>
      <div class='checkbox inline'>
        <%= f.check_box :terms_of_service %>
        <%= label_tag {"I agree to the  #{link_to "Terms of Service", "#myModal", :"data-toggle" => "modal"}".html_safe}  %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <% if @shopper.email? %>
        <%= link_to "Cancel", shopper_path(@shopper), :class => 'btn' %>
      <% else %>
        <%= link_to "Cancel", root_path, :class => 'btn' %>
      <% end %>
    </div>
    <%= render 'shared/modal_terms'  %>
  <% end %>
</div> <!--  shopper_new_form -->

