<%= simple_form_for @shopper, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :zip_code %>
  <%= f.input :distance %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.association :categories, as: :check_boxes %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>
