<% if @products != [] %>
  <div>
    <% @products.each do |product| %>
      <% product.stores.in_groups_of(1, false) do |stores| %>
            <ul class="thumbnails" > 
              <% stores.each do |store| %>
                <li class="span12">  
                  <div class="thumbnail">  
                    <div class="span4 thumb_pic">  
                      <h5 class="product_name"><%= product.name %></h5>    
                      <%= image_tag product.photo.url(:small) if !product.photo_file_name.nil? %>    
                    </div>
                    <div class="thumb_data">
                      <div class="span6 thumb_prod_name">  
                        <p class="thumb_disc">* <%= truncate(product.description, :length => 25, :seperator => ' ') %> *</p>
                        <p class="thumb_price">Sale Price: <%= number_to_currency(product.sale_price) %></p>
                        <p class="thumb_end">Sales Ends: <%= product.to_date.strftime('%b-%e-%Y') %></p>
                        <P class="thumb_time">Remaining Days: <%=" #{(product.to_date.to_date - Date.today)} days" %></p>
                        <P class="thumb_loc">Store: <%= store.biz.name %></p>
                      </div>         
                      <div class="caption pull-right">  
                        <p class="thumb_share">Share this...</p>
                        <%= social_share_button_tag(:title => "Shop Around Town Deal", :url => product_url(product.id)) %>
                        <br /><br /><br />
                        <p><a href="<%= product_path(product.id)%>" class="btn btn-warning">Info</a></p> 
                      </div>  
                    </div>  <!-- span6  --> 
                  </div> <!-- thumbnail  -->
                </li>  
              <% end %>  <!-- stores each -->
            </ul> 
      <% end %> <!-- product in group -->
    <% end %>  <!-- products each   -->
  </div>
<% end %>

