<%- model_class = Product -%>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="span10 pagination-center col-offset-2">
          <img class="mp_image" src="sat-header.jpg">
      </div>
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">

       <%= simple_form_for(:store, remote: true, :url => stores_geo_path)  do |f| %>
        <li class="nav-header"><h4>Categories</h4></li>
          <%= f.collection_check_boxes :category_ids, Category.all_in_order, :id, :name, {:item_wrapper_class => 'checkbox_container'} %>
        <hr></hr>
        <%= f.input_field :zip_code, :placeholder=>"Zip Code", :class=> "input-medium" %>
        <%= f.input_field :distance, :placeholder=>"Miles", :class=> "input-medium" %>
        <%= f.submit 'Search' %>
      <% end %>
      </div><!--/well -->

      </div><!--/span3-->
      <div class="span8">
        <%= render :partial => 'home_products' %>        
      </div>
  </div>
</div>
