<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 home_img_wrapper">
          <img class="home_img" src="sat-header.jpg">
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <%= simple_form_for(:home, remote: true, :url => home_create_path, :defaults => {:required => false})  do |f| %>
            <p class="nav-header"><h4>Categories</h4></p>
            <%= f.collection_check_boxes :category_ids, Category.all_in_order, :id, :name, {:item_wrapper_class => 'checkbox_container'} %>
            <hr></hr>
            <%= f.input_field :zip_code, :placeholder=>"Zip Code", :class=> "input-medium" %>
            <%= f.input_field :distance, :placeholder=>"Miles", :class=> "input-medium" %>
            <%= f.submit 'Search', :class => 'btn' %>
          <% end %> <!-- do  -->
        </ul>
      </div><!--/well -->
    </div><!--/span3-->
    <div class="span8">
      <%= render 'shared/display_products' %> 
    </div>
    <div class="page">
      <%= render 'page'  %>
    </div> 
  </div>  <!-- row-fluid  -->

</div>  <!-- container  -->

