    <ul class="biz_thumbnails" > 
      <li class="span12"> 
        <% @products.in_groups_of(1, false) do |products| %>
          <% products.each do |product| %>
            <div class="thumbnail biz_product_thumb">  
              <div class="span2 biz_image_container">
                <% if !product.photo_file_name.nil? %>
                  <%= image_tag product.photo.url(:small) %>
                <% else %>
                  <p>No Image Present</p>
                <% end %>
                <p></p>
                <div class = "biz_product_btn">
                  <%= link_to "Edit", edit_product_path(product), class:'btn btn-primary' %>
                  <%= link_to "Delete", product_path(product), method: :delete, class:'btn btn-danger', data: { confirm: "You Sure?" } %>
                </div>
              </div>
              <div class="span9">
                <p class="biz_product_desc">Product Name: <%= product.name %></p>
                <p class="biz_product_desc">Product Description: <%= product.description %></p>
                <p class="biz_product_desc">Sale Price: <%= number_to_currency(product.sale_price) %></p>
                <p class="biz_product_desc">Sales Starts: <%= product.from_date.strftime('%b-%e-%Y') %></p>
                <p class="biz_product_desc">Sales Ends: <%= product.to_date.strftime('%b-%e-%Y') %></p>
                <P class="biz_product_desc">Remaining Days: <%=" #{(product.to_date.to_date - Date.today)} days" %></p>
                <P class="biz_product_desc">Category: <%= Category.find(product.category).name %></p>
              </div>
          <% end %>
        </div> <!-- thumbnail  -->
      <% end %>
    </li>  
  </ul>
