<%- model_class = Biz -%>
<div class="page-header">
  <h3>Bizs</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
    </tr>
  </thead>
  <tbody>
    <% @bizs.each do |biz| %>
      <tr>
        <td><%= biz.name %></td>
        <td><%= biz.email %></td>
        <td><%= biz.website %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_biz_path(biz), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      biz_path(biz),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_biz_path,
            :class => 'btn btn-primary' %>
