<%= simple_form_for ([@biz, @product]), :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :sale_price, as: :currency %>
  <%= f.input :original_price, as: :currency %>
  <%= f.input :from_date, as: :date%>
  <%= f.input :to_date, as: :date %>
  <%= f.association :category, :include_blank => false  %>

  <%= image_tag @product.photo.url(:small) if @product.photo? %>

  <div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-preview thumbnail" style="width: 100px; height: 100px;"></div>
      <div>
        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :photo %></span>
      <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                biz_path(Biz.find_biz(session[:as_user_id])), :class => 'btn' %>
  </div>
	
<% end %>
