

<%- model_class = Product -%>
<div class="page-header">
  <h3> Product: <%= @product.name  %></h3>
</div>

<div class="container">
  <div class="span12">
    <div class="span4 pull-right">

      <%= image_tag @product.photo.url() if @product.photo? %>
    </div>
    <div class="span6">
      <dl class="dl-horizontal">
        <dt><strong><%= 'Sale Price: '%></strong></dt>
        <dd><%= number_to_currency(@product.sale_price) %></dd>
        <dt><strong><%= 'Original Price: '%></strong></dt>
        <dd><%= number_to_currency(@product.original_price ) %></dd><br>
        <dt><strong> Description: </strong></dt>
        <dd><%= @product.description %></dd><br>
        <dt><strong>Last Day: </strong></dt>
        <dd><%= @product.to_date.strftime('%b-%e-%Y') %></dd>
        <dt><strong>Time Left: </strong></dt>
        <dd><%=" #{(@product.to_date.to_date - Date.today)} days" %></dd>

      </dl>
      <br>
      <br>
      <p class="thumb_share">Share this...</p>
      <%= social_share_button_tag(:title => "Shop Around Town Deal") %>
    </div>
  </div>

  <div class="span12 store_info">
    <div class="span2">
      <%= image_tag @biz.logo.url(:small) if @biz.logo? %>
    </div>
    <div class="span6">
        <strong><%= 'Store: '%></strong><br>
        <%= @biz.name %><br>
        <% @stores.each do |store| %>
          <%= store.street1 %><br>
          <%= store.city %>
          <%= store.state %>
          <%= store.zip_code %>
          <p></p>
          <strong><%= 'Phone Number: ' %></strong>
          <dd><%= store.phone_number %></dd>
        <% end %>
    </div> <!-- span6  -->
  </div>  <!-- span12 -->
</div>   <!-- container  -->
<br />
<br />
  <div style='width: 400px;'>
    <div id="map" style='width: 400px; height: 400px;'></div>
  </div>

<script type="text/javascript">
  buildMap(<%=raw @hash.to_json %>)
</script>
