<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Shop Around Town</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
  
  <%= head_paratial_selection (params)  %>

      
    <div class="container master-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p>Copyright 2013 <a href="#">Shop Around Town</a></p>
        <ul class="footer-links">
          <li><a href="#">Shop Around Town</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>



